# Ignore Python virtual environment
env/

# Ignore Python cache and compiled files
*.pyc
__pycache__/

# Ignore logs and other text files
*.log
*.txt

# Ignore large media files (if you have video/images you don’t want to push)
*.mp4
*.avi
*.mov
*.jpg
*.png

# Ignore YOLO output results
runs/

# Ignore system files
.DS_Store
Thumbs.db
